body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

.page-head {
    font-size: 2.0em !important;
}

.mobile-nav {
    width: 240px;
}

.side-title {
    font-size: 1.5em;
}

.bio-header {
    font-size: 16px;
}