body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.page-head {
  font-size: 2em !important;
}

.mobile-nav {
  width: 240px;
}

.side-title {
  font-size: 1.5em !important;
}

.bio-header {
  font-size: 16px;
}

.bio-btn {
  margin: 0.3rem 0.3rem;
}

.maroon {
  background-color: #9d586b !important;
}

.cyan-text {
  color: #006064 !important;
}

a {
  color: #006064;
}
